* {
  scrollbar-width: none;
  user-select: none;
}

.link {
  font-size: 18px;
  color: purple !important;
}

.navbar {
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  position: sticky;
  top: 0;
}

.title {
  color: purple !important;
  position: relative !important;
  padding-bottom: 2px;
}

.card {
  padding: 15px !important;
  border-radius: 20px !important;
}

.button-fill {
  background: purple !important;
  &:active {
    background: #c70ac3 !important;
  }
  &:hover {
    background: #c70ac3 !important;
  }
}

.menu-modal, .shop-modal {
  border-radius: 20px 20px 0 0;
  background: rgba(255, 255, 255, .4);
  backdrop-filter: blur(32px);
}

.shop-modal {
  overflow-y: auto;
  overflow-x: hidden;
}

i.fa-close {
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  background: darkred !important;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: close 1.1s linear;
}

i.fa-arrow-down {
  font-size: 25px;
  color: black;
}

.card-img {
  width: 70%;
  border-radius: 20px;
  margin: 4px auto;
  display: block;
  transition: all 0.1s linear;
  &:active {
    transform: translateY(-7px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }
}

#nameProduct, #msgUser, #contact {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
}

@keyframes close {
  from {
    transform: rotate(360deg);
  }
}
div.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 3px;
  border-radius: 30px;
  background: purple !important;
}

p.precio {
  text-align: right !important;
  border-radius: 33px;
  font-size: 19px;
  font-family: system-ui;
  font-weight: bold;
}

::selection {
  background: mediumpurple;
  text-shadow: 0 0 10px white;
  color: white;
}

#app {
  animation: entry 1s ease-in;
}

.card {
  animation: cards 0.4s ease-in;
}

@keyframes entry {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cards {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.about-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  margin: 25px auto !important;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: mediumpurple;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}
